djangoref/settings_local.py
djangoref/settings_local*
djangoref/settings/local.pyc
uploads/
*pyc
*.egg-info
.idea/*
*.sublime-project
*.sublime-workspace
*.sublime*
models_mgeneral.py
models_mgeoreferenciacio.py
models_mseguretat.py
models_mzoologia.py
script_moure_taules_a_public.sql
static/*
__pycache__/
desplegament_2019_03_01.txt
llista_geom.txt
