<div class="container">
    <a role="button" class="btn btn-success" href="{% url 'recursos' %}">Tornar al llistat</a>
    <input role="button" class="btn btn-success" type="submit" value="Desar" />
</div>
<div class="container separador_seccio">
    <p><strong>Dades bàsiques:</strong></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="{{ form.nom.id_for_label }}">Nom:</label>
                {{ form.nom }}
                {{ form.nom.errors }}
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="{{ form.acronim.id_for_label }}">Acrònim:</label>
                {{ form.acronim }}
                {{ form.acronim.errors }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="{{ form.idtipusrecursgeoref.id_for_label }}">Tipus de contingut:</label>
                {{ form.idtipusrecursgeoref }}
                {{ form.idtipusrecursgeoref.errors }}
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="iconainfo" data-toggle="tooltip" data-placement="left" title="Identificació de la versió disponible o consultada del recurs." for="{{ form.versio.id_for_label }}">Versió:</label>
                {{ form.versio }}
                {{ form.versio.errors }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label class="iconainfo" data-toggle="tooltip" data-placement="left" title="A la caixa de text es pot escriure part del nom d'una paraula clau (mínim 3 lletres). Llavors apareixerà un llistat amb les paraules que contenen el text escrit i l'usuari en podrà triar una. Després s'omplirà el control de paraules clau amb la paraula triada. Si es vol inserir una nova paraula clau tant al tesaurus de paraules clau com a la fitxa, cal escriure la paraula i després premer el botó 'Afegir a la fitxa i al tesaurus'" for="paraulaclau_list">Paraules clau:</label>
            <ul id="paraulaclau_list"></ul>
        </div>
        <div class="col-xs-6">
            <label class="iconainfo" data-toggle="tooltip" data-placement="left" title="A la caixa de text es pot escriure part del nom d'un autor (mínim 3 lletres). Llavors apareixerà un llistat amb els autors que contenen el text escrit i l'usuari en podrà triar un. Després s'omplirà el control d'autors amb l'element triat. Si es vol inserir un nou autor tant al tesaurus d'autors com a la fitxa, cal escriure el nom de l'autor i després premer el botó 'Afegir a la fitxa i al tesaurus'." for="autor_list">Autors:</label>
            <ul id="autor_list"></ul>
        </div>
    </div>
    {% if show_goto_buttons %}
        {% if toponims_basats_recurs %}
    <div class="row">
        <div class="col-xs-2"><label>Versions de topònims basats en el recurs:</label></div>
        <div id="toponimsbasats" class="col-xs-10"><ul></ul></div>
    </div>
        {% endif %}
    {% endif %}
    <div class="row">
        <div id="map">
        </div>
        <div id="fileuploader"></div>
    </div>
</div>
<div class="container separador_seccio">
    <p><strong>Toponímia:</strong></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <label class="iconainfo" data-toggle="tooltip" data-placement="left" title="En l’estructura d’informació del recurs identificar el camp d’informació sobre el qual es poden fer cerques toponímiques"for="{{ form.campidtoponim.id_for_label }}">Camp identificador toponímia:</label>
            {{ form.campidtoponim }}
            {{ form.campidtoponim.errors }}
        </div>
        <div class="col-xs-6">
            <label class="iconainfo" data-toggle="tooltip" data-placement="left" title="Fitxer gràfic que conté els límits base a partir dels quals s’obtenen les coordenades" for="{{ form.fitxergraficbase.id_for_label }}">Fitxer gràfic de base:</label>
            {{ form.fitxergraficbase }}
            {{ form.fitxergraficbase.errors }}
        </div>
    </div>
</div>
<div class="container separador_seccio">
    <p><strong>Sistema de referència:</strong></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <label class="iconainfo" data-toggle="tooltip" data-placement="left" title="Indicació de datum i projecció" for="{{ form.idsistemareferenciamm.id_for_label }}">Sistema de referència:</label>
            {{ form.idsistemareferenciamm }}
            {{ form.idsistemareferenciamm.errors }}
        </div>
        <div class="col-xs-6">
            <label class="iconainfo" data-toggle="tooltip" data-placement="left" title="Unitats en què el recurs proporciona les coordenades" for="{{ form.fitxergraficbase.id_for_label }}">Unitats:</label>
            {{ form.idtipusunitatscarto }}
            {{ form.idtipusunitatscarto.errors }}
        </div>
    </div>
</div>
<div class="container separador_seccio">
    <p><strong>Recursos WMS:</strong></p>
    <div class="row">
        <div class="col-xs-12">
            <label for="{{ form.base_url_wms.id_for_label }}">Servidor WMS:</label>
            {{ form.base_url_wms }}
            {{ form.base_url_wms.errors }}
            <button id="wms_connect" type="button" class="btn btn-primary">Connectar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label>Capes:</label>
            <select id="layersWms"></select>
            <button id="wms_add" type="button" class="btn btn-primary">Afegir</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul id="taulacapes" class="tagit ui-widget ui-widget-content ui-corner-all"></ul>
        </div>
    </div>
</div>
<div class="container separador_seccio">
    <p><strong>Fonts:</strong></p>
    <div class="row">
        <div class="col-xs-12">
            <label for="{{ form.idsuport.id_for_label }}">Tipus de suport:</label>
            {{ form.idsuport }}
            {{ form.idsuport.errors }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="{{ form.urlsuport.id_for_label }}">URL o directori:</label>
            {{ form.urlsuport }}
            {{ form.urlsuport.errors }}
            {% if show_goto_buttons %}
                <button type="button" class="btn btn-primary" onclick="javascript:anarAUrl('id_urlsuport');">Anar-hi</button>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="{{ form.actualitzaciosuport.id_for_label }}">Altres webs:</label>
            {{ form.actualitzaciosuport }}
            {{ form.actualitzaciosuport.errors }}
            {% if show_goto_buttons %}
                <button type="button" class="btn btn-primary" onclick="javascript:anarAUrl('id_actualitzaciosuport');">Anar-hi</button>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="{{ form.ubicaciorecurs.id_for_label }}">Ubicació del recurs:</label>
            {{ form.ubicaciorecurs }}
            {{ form.ubicaciorecurs.errors }}
        </div>
    </div>
</div>
<div class="container separador_seccio">
    <p><strong>Comentaris:</strong></p>
    <div class="row">
        <div class="col-xs-12">
            <label for="{{ form.comentariinfo.id_for_label }}">Informació:</label>
            {{ form.comentariinfo }}
            {{ form.comentariinfo.errors }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="{{ form.comentariinfo.id_for_label }}">Consulta:</label>
            {{ form.comentariconsulta }}
            {{ form.comentariconsulta.errors }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="{{ form.comentariqualitat.id_for_label }}">Qualitat:</label>
            {{ form.comentariqualitat }}
            {{ form.comentariqualitat.errors }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="{{ form.divisiopoliticoadministrativa.id_for_label }}">Divisió política administrativa:</label>
            {{ form.divisiopoliticoadministrativa }}
            {{ form.divisiopoliticoadministrativa.errors }}
        </div>
    </div>
</div>
<div class="container">
    <a role="button" class="btn btn-success" href="{% url 'recursos' %}">Tornar al llistat</a>
    <input role="button" class="btn btn-success" type="submit" value="Desar" />
</div>
<input id="geometria" name="geometria" type="hidden" value=""/>
<input id="capeswms" name="capeswms" type="hidden" value=""/>