{% extends "georef/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block extra_css %}
<link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
<main>
    <div class="page-header">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Inici' %}</a></li>
                <li class="breadcrumb-item">{% trans 'Sobre' %}</li>
            </ol>
        </div>
    </div>
    <div class="container">
        <h3>Georef <b>v{{ version }}</b></h3>
        {% trans '<p class="text-justify">Georef és una eina de georeferenciació de topònims, creada originalment per al Museu de Ciències Naturals de Barcelona - <a href="https://museuciencies.cat/" rel="nofollow">MCNB</a>. Permet desar, indexar i consultar topònims, que inclouen geometria, i suporta diverses versions de cadascun dels topònims. Georef està fet amb <a href="https://www.djangoproject.com/" rel="nofollow">Django</a>. L&#39;aplicació disposa d&#39;una API que permet fer consultes sobre les dades. L&#39;API és un projecte separat i es pot trobar <a href="https://github.com/aescobarr/nhc-georef-api">aquí</a>.</p>' %}
        <h3>{% trans 'Autors' %}</h3>
        {% trans '<p class="text-justify"><ul><li>Desenvolupadors: <a href="https://github.com/aescobarr">Agustí Escobar</a> (versió actual), <a href="https://github.com/vg-coder">Victor Garcia</a> (versió inicial)</li></ul><ul><li>Disseny conceptual: <a href="http://www.arnaldmarcer.org/">Arnald Marcer (CREAF)</a>, Francesc Uribe (Museu de Ciències Naturals de Barcelona).</li></ul></p>' %}
        <h3>{% trans 'Com citar el programari' %}</h3>
        {% trans '<p class="text-justify">Marcer A., Escobar A., Garcia V. and Uribe F. (2019) Georef. Github repository <a href="https://github.com/aescobarr/nhc-georef">https://github.com/aescobarr/nhc-georef</a></p>' %}
        <h3>{% trans 'Llicència' %}</h3>
        {% trans '<p class="text-justify">Aquest programari es distribueix amb la llicència <a href="https://www.gnu.org/licenses/gpl-3.0.html" rel="nofollow">GNU General Public License v3.0</a>.</p>' %}
        <h3>{% trans 'Agraïments' %}</h3>
        {% trans '<p>Moltes gràcies a Miguel Martínez( <a href="https://www.auupa.com/" rel="nofollow">Auupa</a> ) per la seva ajuda integrant el programari a l&#39;infrastructura del <a href="https://museuciencies.cat/espais/mcnb/" rel="nofollow">MCNB</a>.</p>' %}
    </div>
</main>
{% endblock %}
{% block extra_js %}

{% endblock %}
