{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% endblock %}
    {% block title %}
    <title></title>
    {% endblock %}
    {% block basic_css %}
        <link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'georef/css/georef.css' %}" rel="stylesheet">
        <!--<link href="{% static 'georef/css/sticky-footer-navbar.css' %}" rel="stylesheet">-->
        <link href="{% static 'georef/css/font-awesome-4.7.0/css/font-awesome.css' %}" rel="stylesheet">
        <link href="{% static 'toastr/toastr.min.css' %}" rel="stylesheet">
    {% endblock %}
    {% block extra_css %}
    {% endblock %}
    {% block compat_js %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
    {% block extrahead %}
    {% endblock %}
</head>
<body>
    {% block nav %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top dark_blue">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">GeoRef</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a  class="active" href="/">{% trans "Inici" %}</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Recursos cartogràfics" %}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'recursos' %}">{% trans "Llistat" %}</a></li>
                    <li><a href="{% url 'recursfilters' %}">{% trans "Llistat de filtres de recursos" %}</a></li>
                    <li><a href="{% url 'recursos_capeswms' %}">{% trans "Càrrega de capes WMS pròpies" %}</a></li>
                    <li><a href="{% url 'prefsvisualitzaciowms' %}">{% trans "Preferències visualització capes WMS" %}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Topònims" %}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'toponims' %}">{% trans "Llistat" %}</a></li>
                    <li><a href="{% url 'toponimstree' %}">{% trans "Arbre" %}</a></li>
                    <li><a href="{% url 'toponimfilters' %}">{% trans "Llistat de filtres de topònims" %}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Utilitats" %}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'toponims_search' %}">{% trans "Cerca topònim" %}</a></li>
                    <li><a href="{% url 'calculcentroides' %}">{% trans "Calcula centroides" %}</a></li>
                    <li><a href="{% url 'toponims_import' %}">{% trans "Importació de topònims" %}</a></li>
                    <li><a href="https://www.google.es" target="_blank">{% trans "Anar a google" %}</a></li>
                    <li><a href="http://www.icgc.cat/" target="_blank">{% trans "Anar a ICC" %}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="http://betaportal.icgc.cat/convertbox/#" target="_blank">{% trans "Conversió de coordenades - Convertbox" %}</a></li>
                    <li><a href="http://www.earthpoint.us/Convert.aspx" target="_blank">{% trans "Conversió de coordenades - Earth Point: Convert coordinates" %}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="http://www.geo-locate.org/web/WebGeoref.aspx" target="_blank">{% trans "Georeferenciació - Geolocate" %}</a></li>
                    <li><a href="http://manisnet.org/gci2.html" target="_blank">{% trans "Georeferenciació - Georeferencing calculator" %}</a></li>
                    <li><a href="http://berkeleymapper.berkeley.edu/#" target="_blank">{% trans "Georeferenciació - Berkeley Mapper" %}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Tesaures" %}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 't_authors' %}">{% trans "Autors" %}</a></li>
                    <li><a href="{% url 't_qualificadors' %}">{% trans "Qualificadors de versió" %}</a></li>
                    <li><a href="{% url 't_paisos' %}">{% trans "Països" %}</a></li>
                    <li><a href="{% url 't_paraulesclau' %}">{% trans "Paraules clau" %}</a></li>
                    <li><a href="{% url 't_tipuscontingut' %}">{% trans "Tipus de contingut" %}</a></li>
                    <li><a href="{% url 't_tipussuport' %}">{% trans "Tipus de suport" %}</a></li>
                    <li><a href="{% url 't_tipustoponim' %}">{% trans "Tipus topònim" %}</a></li>
                    <li><a href="{% url 't_tipusunitats' %}">{% trans "Tipus unitats" %}</a></li>
                </ul>
            </li>
            <li><a href="{% url 'graphs' %}">{% trans "Gràfiques" %}</a></li>
            <li><a href="{% url 'georef_layers' %}">{% trans "Capes de georeferenciació" %}</a></li>
            <li><a href="{% url 'help' %}">{% trans "Ajut" %}</a></li>
            {% if user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Benvingut" %}, {{ user.username }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="nav-link" href="{% url 'logout' %}">{% trans "Tancar sessió" %} - {{ user.username }}</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'my_profile' %}">{% trans "El meu perfil" %}</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'change_my_password' %}">{% trans "Canviar el meu password" %}</a>
                    </li>
                    {% if user.profile.is_admin or user.is_superuser %}
                    <li>
                        <a class="nav-link" href="{% url 'users_list' %}">{% trans "Gestió usuaris" %}</a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% else %}
              <li>
                <a class="nav-link" href="{% url 'login' %}">{% trans "Iniciar sessió" %}</a>
              </li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% endblock %}
    {% block main %}
    {% endblock %}
    {% block footer %}
    <footer class="footer">
      <!--<div class="container">
        <p>Place sticky footer content here.</p>
      </div>-->
    </footer>
    {% endblock %}
    {% block js %}
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
        <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
        <script src="{% static 'toastr/toastr.min.js' %}"></script>
        <script>
            var opcions_llenguatge = {
                "sProcessing":   '<span class="fa fa-spinner fa-spin" aria-hidden="true"></span>',
                "sLengthMenu":   "{% trans 'sLengthMenu' %}",
                "sZeroRecords":  "{% trans 'sZeroRecords' %}",
                "sInfo":         "{% trans 'sInfo' %}",
                "sInfoEmpty":    "{% trans 'sInfoEmpty' %}",
                "sInfoFiltered": "{% trans 'sInfoFiltered' %}",
                "loadingRecords": "{% trans 'loadingRecords' %}",
                "sInfoPostFix":  "",
                "sSearch":       "{% trans 'Filtrar' %}:",
                "sUrl":          "",
                "oPaginate": {
                    "sFirst":    "{% trans 'Primer' %}",
                    "sPrevious": "{% trans 'Anterior' %}",
                    "sNext":     "{% trans 'Següent' %}",
                    "sLast":     "{% trans 'Últim' %}"
                }
            };
        </script>
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
</body>
</html>