{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% endblock %}
    {% block title %}
    <title></title>
    {% endblock %}
    {% block basic_css %}
        <link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'georef/css/georef.css' %}" rel="stylesheet">
        <!--<link href="{% static 'georef/css/sticky-footer-navbar.css' %}" rel="stylesheet">-->
        <link href="{% static 'georef/css/font-awesome-4.7.0/css/font-awesome.css' %}" rel="stylesheet">
        <link href="{% static 'toastr/toastr.min.css' %}" rel="stylesheet">
    {% endblock %}
    {% block extra_css %}
    {% endblock %}
    {% block compat_js %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
    {% block extrahead %}
    {% endblock %}
</head>
<body>
    {% block nav %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top dark_blue">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">GeoRef</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a  class="active" href="/">Inici</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recursos cartogràfics<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'recursos' %}">Llistat</a></li>
                    <li><a href="{% url 'recursfilters' %}">Llistat de filtres de recursos</a></li>
                    <li><a href="{% url 'recursos_capeswms' %}">Càrrega de capes WMS pròpies</a></li>
                    <li><a href="{% url 'prefsvisualitzaciowms' %}">Preferències visualització capes WMS</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Topònims<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'toponims' %}">Llistat</a></li>
                    <li><a href="{% url 'toponimstree' %}">Arbre</a></li>
                    <li><a href="{% url 'toponimfilters' %}">Llistat de filtres de topònims</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Utilitats<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'toponims_search' %}">Cerca topònim</a></li>
                    <li><a href="{% url 'calculcentroides' %}">Calcula centroides</a></li>
                    <li><a href="{% url 'toponims_import' %}">Importació de topònims</a></li>
                    <li><a href="https://www.google.es" target="_blank">Anar a google</a></li>
                    <li><a href="http://www.icgc.cat/" target="_blank">Anar a ICC</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tesaures<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 't_authors' %}">Autors</a></li>
                    <li><a href="{% url 't_qualificadors' %}">Qualificadors de versió</a></li>
                    <li><a href="{% url 't_paisos' %}">Països</a></li>
                    <li><a href="{% url 't_paraulesclau' %}">Paraules clau</a></li>
                    <li><a href="{% url 't_tipuscontingut' %}">Tipus de contingut</a></li>
                    <li><a href="{% url 't_tipussuport' %}">Tipus de suport</a></li>
                    <li><a href="{% url 't_tipustoponim' %}">Tipus topònim</a></li>
                    <li><a href="{% url 't_tipusunitats' %}">Tipus unitats</a></li>
                </ul>
            </li>
            <li><a href="{% url 'graphs' %}">Gràfiques</a></li>
            <li><a href="{% url 'georef_layers' %}">Capes de georeferenciació</a></li>
            <li><a href="{% url 'help' %}">Ajut</a></li>
            {% if user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Benvingut, {{ user.username }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="nav-link" href="{% url 'logout' %}">Tancar sessió - {{ user.username }}</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'my_profile' %}">El meu perfil</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'change_my_password' %}">Canviar el meu password</a>
                    </li>
                    {% if user.is_superuser %}
                    <li>
                        <a class="nav-link" href="{% url 'users_list' %}">Gestió usuaris</a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% else %}
              <li>
                <a class="nav-link" href="{% url 'login' %}">Iniciar sessió</a>
              </li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% endblock %}
    {% block main %}
    {% endblock %}
    {% block footer %}
    <footer class="footer">
      <!--<div class="container">
        <p>Place sticky footer content here.</p>
      </div>-->
    </footer>
    {% endblock %}
    {% block js %}
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
        <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
        <script src="{% static 'toastr/toastr.min.js' %}"></script>
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
</body>
</html>