{% extends "georef/base.html" %}
{% load staticfiles %}
{% block extra_css %}
    <link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'georef/css/georef.css' %}" rel="stylesheet">
    <link href="{% static 'jstree/dist/themes/default/style.min.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
<main>
    {% if user_is_other %}
        <form action="{% url 'change_password' user_is_other.id %}" method="POST">
    {% else %}
        <form action="{% url 'change_password' %}" method="POST">
    {% endif %}
    {% csrf_token %}
        <div class="page-header">
        </div>
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Inici</a></li>
                <li class="breadcrumb-item">Sessió</li>
                <li class="breadcrumb-item"><a href="{% url 'user_profile' %}">Perfil</a></li>
                <li class="breadcrumb-item active">Canvi de password</li>
            </ol>
        </div>
        <div class="container">
            <input role="button" class="btn btn-success"  type="submit" value="Desar" />
        </div>
        <div class="container">
            <div class="form-errors"></div>
        </div>
        {% if user_is_other %}
        <div class="container separador_seccio">
            <h3 class="error">Atenció! estàs canviant el password de l'usuari {{ user_is_other.username }}</h3>
        </div>
        {% endif %}
        <div class="container separador_seccio">
            <p><strong>Canvi de password:</strong></p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="form.password_1.id_for_label">Nou password:</label>
                        {{ form.password_1 }}
                        {{ form.password_1.errors }}
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="form.password_2.id_for_label">Nou password (repeteix):</label>
                        {{ form.password_2 }}
                        {{ form.password_2.errors }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container separador_seccio">
            <input role="button" class="btn btn-success" type="submit" value="Desar" />
        </div>
        <div class="container">
            <div class="form-errors"></div>
        </div>
    </form>
</main>
{% endblock %}