{% extends "georef/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block extra_css %}
<link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
{% endblock %}
{% block extrahead %}
<script>
    var toponims_georeferenciador = JSON.parse('{{ toponims_georeferenciador | escapejs }}');
    var toponims_pais = JSON.parse('{{ toponims_pais | escapejs }}');
    var toponims_tipus = JSON.parse('{{ toponims_tipus | escapejs }}');
    var toponims_aquatic = JSON.parse('{{ toponims_aquatic | escapejs }}');
    var recursos_tipus = JSON.parse('{{ recursos_tipus | escapejs }}');
</script>
{% endblock %}
{% block main %}
<main>
    <div class="page-header">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Inici' %}</a></li>
                <li class="breadcrumb-item">{% trans 'Gràfiques' %}</li>
            </ol>
        </div>
    </div>
    <div class="container">
        <table id="element_list" style="width:100%;"></table>
    </div>

    <div class="container">
        <div id="toponims_per_georeferenciador"></div>
        <div id="toponims_per_pais"></div>
        <div id="toponims_per_tipus"></div>
        <div id="toponims_humitat"></div>
        <div id="recursos_tipus"></div>
    </div>

</main>
{% endblock %}
{% block extra_js %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{% static 'georef/javascript/graphs.js' %}?{{ revision }}"></script>
{% endblock %}
