{% extends "georef/base.html" %}
{% load staticfiles %}
{% block extra_css %}
    <link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
<main>
    <div class="page-header"></div>
    <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Inici</li>
            </ol>
    </div>
    <div class="container col-md-6 col-md-offset-3">
        <div><h3>La plataforma del museu per a treballs en cartografia i georeferenciació</h3></div>
        <div>
            <p class="text-justify">
                La cartografia està present en gairebé tots els àmbits d’activitat del museu: col·leccions, recerca, publicacions, exposicions, etc. Georef és el recurs desenvolupat per donar suport a les necessitats d’indexar i reconèixer recursos cartogràfics útils pels projectes del museu.
            </p>
            <p class="text-justify">
                Un projecte especialment actiu és la georeferenciació retrospectiva de les mostres de col·leccions del museu. La immensa majoria de mostres són anteriors a la generalització del posicionament per satèl·lit i tenen assignada una referència del lloc de recol·lecció basada en les dades textuals de les etiquetes. Convertir topònims i descripcions de posicionament respecte topònims en un punt de coordenades sobre un mapa és l’acció de qualitat que definim com a georeferenciació.
            </p>
            <p class="text-justify">
                Desar la traça d’aquestes estimacions de georeferenciació permet:
                <ul>
                    <li>la reutilització posterior de les dades per augmentar l’eficiència de la georeferenciació.</li>
                    <li>garanteix la coherència entre si de les dades de localització de les mostres de col·leccions.</li>
                    <li>eventualment permet revisar la qualitat de la pròpia georeferenciació.</li>
                </ul>
                La georeferenciació de col·leccions és un projecte capital a Georef.
            </p>
        </div>
    </div>
</main>
{% endblock %}
