{% extends "georef/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block extra_css %}
    <link href="{% static 'datatables.net-dt/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'georef/css/georef.css' %}" rel="stylesheet">
{% endblock %}
{% block extrahead %}
    <script>
        var csrf_token = '{{ csrf_token }}';
        var _capawmslocal_list_url = "{% url 'capeswmslocals_datatable_list' %}";
        var _toggle_prefs_wms = "{% url 'toggle_prefs_wms' %}";
    </script>
{% endblock %}
{% block main %}
    <main>
      <div class="page-header">
          <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Inici' %}</a></li>
                <li class="breadcrumb-item">{% trans 'Recursos cartogràfics' %}</li>
                <li class="breadcrumb-item active">{% trans 'Preferències visualització capes WMS' %}</li>
            </ol>
          </div>
      </div>
        <div class="container separador_seccio">
            <p><strong>{% trans 'Preferències visualització capes WMS' %}:</strong></p>
        </div>
        <div class="container">
            <p>
                {% trans 'prefs_viz_help_text_1' %}
                <a href="{% url 'recursos_capeswms' %}">{% trans 'Càrrega de capes WMS pròpies' %}</a>
                {% trans 'prefs_viz_help_text_2' %}
                <!--
                __1__
                Aquest és un llistat de capes en format WMS que, o bé s'han carregat des d'un ràster TIF o un fitxer
                shapefile des de la secció
                <a href="{% url 'recursos_capeswms' %}">Càrrega de capes WMS pròpies</a>
                __2__
                , o bé s'han donat d'alta com capes WMS relacionades amb un recurs de georeferenciació.
                En principi aquestes capes no són visibles. Si vols tenir-les disponibles en algun mapa de l'aplicació, fes clic
                a la casella 'Mostrar capa' i apareixeran al calaix de capes 'Capes WMS pròpies'.
                -->
            </p>
        <div>
        <div class="container separador_seccio">
            <table id="prefscapes" style="width:100%;"></table>
        </div>
    </main>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'georef/javascript/cookies.js'%}"></script>
    <script src="{% static 'georef/javascript/csrf_utils.js'%}"></script>
    <script src="{% static 'georef/javascript/prefsvisualitzaciowms.js' %}"></script>
{% endblock %}