{% extends "georef/base.html" %}
{% load staticfiles %}
{% block extra_css %}
    <link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'georef/javascript/leaflet/leaflet.css' %}" rel="stylesheet">
    <link href="{% static 'georef/javascript/leaflet.plugins/Leaflet.StyledLayerControl/css/styledLayerControl.css' %}" rel="stylesheet">
    <link href="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/leaflet.draw.css' %}" rel="stylesheet">
    <link href="{% static 'georef/css/georef.css' %}" rel="stylesheet">
    <link href="{% static 'georef/javascript/ajaxuploader/css/fileuploader.css' %}" media="screen" rel="stylesheet" type="text/css" >
    <link href="{% static 'jstree/dist/themes/default/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-tagit/css/jquery.tagit.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-tagit/css/tagit.ui-zendesk.css' %}" rel="stylesheet">
    <style>
        .hidden-capawms-id-value { display:none; }
        ul#taulacapes {
            list-style-type: none;
        }
    </style>
{% endblock %}
{% block extrahead %}
    <script>
        var paraulesclau = '{{ paraulesclau }}';
        var autors = '{{ autors }}';
        var toponims_basats_recurs = [];
        {% for toponim in toponims_basats_recurs|slice:":20" %}
        toponims_basats_recurs.push({ 'id':'{{ toponim.idtoponim.id }}', 'nom':'{{ toponim.idtoponim.nom }}',  });
        {% endfor %}
        var moretoponims = false;
        {% if moretoponims %}
        moretoponims = true;
        {% endif %}
        var wms_url = "{{ wms_url }}";
        var _ajax_upload_url = "{% url 'ajax_upload' %}";
        var csrf_token = '{{ csrf_token }}';
        var cql_filter_ini = "idrecurs='{{ form.instance.id }}'";
        var _import_shapefile_url = "{% url 'process_shapefile' %}";
        var geometries_json = {% if geometries_json %} JSON.parse('{{ geometries_json | safe }}') {% else %} null {% endif %};
        var _wms_metadata_url = '{% url 'wmsmetadata' %}';
        var capes_wms = [];
        {% for capa in capeswms %}
        capes_wms.push({'id': '{{capa.id}}', 'name':'{{capa.name}}', 'label':'{{capa.label}}'});
        {% endfor %}
    </script>
{% endblock %}
{% block main %}
    <main>
        <div class="page-header"></div>
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Inici</a></li>
                <li class="breadcrumb-item">Recursos</li>
                <li class="breadcrumb-item active">Edició de recursos</li>
            </ol>
        </div>
        <div class="container">
            <form action="{% url 'recursos_update' form.instance.id %}" method="post">
                {% csrf_token %}
                {% include 'georef/_recursos_fields.html' with show_goto_buttons=True %}
            </form>
        </div>
        <div id="dialogListToponims" title="Topònims basats en el recurs">
            <table>
                {% for toponim in toponims_basats_recurs %}
                <tr><td>
                    <a target="_blank" href="/toponims/update/{{ toponim.idtoponim.id }}/-1" title="{{ toponim.idtoponim.nom }}"> <span class="label label-default">{{ toponim.idtoponim.nom }}</span></a>
                </td></tr>
                {% endfor %}
            </table>
        </div>
    </main>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <script>
        /* Fix for tagit/jquery conflict */
        $.fn.andSelf = function() {
            return this.addBack.apply(this, arguments);
        }
    </script>
    <script src="{% static 'jquery-tagit/js/tag-it.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmGF2iEuPZt4fCJqxgHLZ8WMtQ7wM0Sp4" async defer></script>
    <script src="{% static 'georef/javascript/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.GridLayer.GoogleMutant/Leaflet.GoogleMutant.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.StyledLayerControl/src/styledLayerControl.js' %}"></script>

    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/Leaflet.draw.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/Leaflet.Draw.Event.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/Toolbar.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/Tooltip.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/GeometryUtil.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/LatLngUtil.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/LineUtil.Intersect.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/Polygon.Intersect.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/Polyline.Intersect.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/TouchEvents.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/DrawToolbar.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Feature.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.SimpleShape.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Polyline.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Marker.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Circle.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.CircleMarker.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Polygon.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Rectangle.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/EditToolbar.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/EditToolbar.Edit.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/EditToolbar.Delete.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/Control.Draw.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.Poly.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.SimpleShape.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.Rectangle.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.Marker.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.CircleMarker.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.Circle.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Coordinates-master/dist/Leaflet.Coordinates-0.1.5.min.js' %}"></script>
    <script src="{% static 'georef/javascript/turf.min.js' %}"></script>
    <script src="{% static 'georef/javascript/djangoref_map.js' %}"></script>
    <script src="{% static 'georef/javascript/cookies.js'%}"></script>
    <script src="{% static 'georef/javascript/csrf_utils.js'%}"></script>
    <script src="{% static 'ajaxuploader/js/fileuploader.js' %}"></script>
    <script src="{% static 'georef/javascript/recurs_autocomplete.js' %}"></script>
    <script src="{% static 'georef/javascript/recurs_update.js' %}"></script>
{% endblock %}