{% extends "georef/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block extra_css %}
    <link href="{% static 'datatables.net-dt/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
{% endblock %}
{% block extrahead %}
    <script>
        var _filtresrecursos_list_url = "{% url 'recursfilters_datatable_list' %}";
        var _recursfilter_delete_url = "{% url 'filtres-list' %}";
    </script>
{% endblock %}
{% block main %}
<main>
    <div class="page-header">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Inici' %}</a></li>
                <li class="breadcrumb-item">{% trans 'Recursos' %}</li>
                <li class="breadcrumb-item active">{% trans 'Llistat de filtres de recursos' %}</li>
            </ol>
        </div>
    </div>
    <div class="container">
        <table id="recursosfilter_list" style="width:100%;"></table>
    </div>
</main>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'georef/javascript/cookies.js' %}?{{ revision }}"></script>
    <script src="{% static 'georef/javascript/csrf_utils.js' %}?{{ revision }}"></script>
    <script src="{% static 'georef/javascript/recursfilters_list.js' %}?{{ revision }}"></script>
{% endblock %}