{% extends "georef/base.html" %}
{% load staticfiles %}
{% block extra_css %}
    <link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'georef/css/georef.css' %}" rel="stylesheet">
    <link href="{% static 'jstree/dist/themes/default/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-tagit/css/jquery.tagit.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-tagit/css/tagit.ui-zendesk.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
    <main>
        <div class="page-header"></div>
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Inici</a></li>
                <li class="breadcrumb-item">Recursos</li>
                <li class="breadcrumb-item active">Creació de recursos</li>
            </ol>
        </div>
        <div class="container">
            <form action="{% url 'recursos_create' %}" method="post">
                {% csrf_token %}
                {% include 'georef/_recursos_fields.html' %}
            </form>
        </div>
    </main>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <script>
        /* Fix for tagit/jquery conflict */
        $.fn.andSelf = function() {
            return this.addBack.apply(this, arguments);
        }
    </script>
    <script src="{% static 'jquery-tagit/js/tag-it.min.js' %}"></script>
    <script src="{% static 'georef/javascript/recurs_autocomplete.js' %}"></script>
    <script src="{% static 'georef/javascript/recurs_create.js' %}"></script>
{% endblock %}