{% extends "georef/base.html" %}
{% load staticfiles %}
{% block extra_css %}
<link href="{% static 'datatables.net-dt/css/jquery.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
{% endblock %}
{% block extrahead %}
<script>
        var options = {
            column_name : "{{ column_name }}",
            data_url : "{{ list_url }}",
            crud_url: "{{ crud_url }}",
            text_field_name: "{{ text_field_name }}",
            instance_label: "{{ instance_label }}",
        };

        var user_can_edit = false;
        {% if user.profile.is_admin or user.profile.can_edit_tesaure %}
        user_can_edit = true;
        {% endif %}
</script>
{% endblock %}
{% block main %}
<main>
    <div class="page-header">
    </div>
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inici</a></li>
            <li class="breadcrumb-item">Tesaures</li>
            <li class="breadcrumb-item active">{{ class_name_sing }}</li>
        </ol>
    </div>
    <div class="container separador_seccio">
        <div class="pull-right">
            {% if user.profile.is_admin or user.profile.can_edit_tesaure %}
            <button id="add" type="button" class="btn btn-primary">Afegir <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <table id="element_list" style="width:100%;"></table>
    </div>

    <div id="dialog-form-update" title="Editar">
        <p class="validateTips">Tots els camps són obligatoris.</p>

        <form>
            <div class="form-group">
                <label for="name">{{ column_name }}</label>
                <input type="text" name="name_update" id="name_update" value="" class="form-control">
                <input type="hidden" name="id" id="id" value="">
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </div>
        </form>
    </div>

    <div id="dialog-form-create" title="Crear">
        <p class="validateTips">Tots els camps són obligatoris.</p>

        <form>
            <div class="form-group">
                <label for="name">{{ column_name }}</label>
                <input type="text" name="name" id="name" value="" class="form-control">
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </div>
        </form>
    </div>

</main>
{% endblock %}
{% block extra_js %}
<script src="{% static 'datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'georef/javascript/cookies.js' %}"></script>
<script src="{% static 'georef/javascript/csrf_utils.js' %}"></script>
<script src="{% static 'georef/javascript/generic_thesaurus.js' %}"></script>
<script src="{% static 'georef/javascript/generic_thesaurus_init.js' %}"></script>
{% endblock %}