{% extends "georef/base.html" %}
{% load staticfiles %}
{% block extra_css %}
    <link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'georef/css/georef.css' %}" rel="stylesheet">
    <link href="{% static 'jstree/dist/themes/default/style.min.css' %}" rel="stylesheet">
{% endblock %}
{% block extrahead %}
<script>
    var node_list_full = {{ nodelist_full|safe }};
    var node_list = {{ nodelist|safe }};
    var node_ini = "1";
</script>
{% endblock %}
{% block main %}
<main>
    <div class="page-header">
    </div>
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inici</a></li>
            <li class="breadcrumb-item">Topònims</li>
            <li class="breadcrumb-item active">Edició de topònim</li>
        </ol>
    </div>
    <form action="{% url 'toponims_update' id %}" method="post">
        {% csrf_token %}
        <div class="container">
            <a role="button" class="btn btn-success" href="{% url 'toponims' %}">Cancel·lar</a>
            <input role="button" class="btn btn-success" type="submit" value="Desar" />
            <input id="testbutton" role="button" class="btn btn-success" value="Test" />
        </div>
        <div class="container separador_seccio">
            <p><strong>Dades bàsiques:</strong></p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <table id="toponim_edit">
                        <tr>
                            <th><label for="{{ form.nom.id_for_label }}">Nom:</label></th>
                            <td>{{ form.nom }}</td>
                            <td>{{ form.nom.errors }}</td>
                        </tr>
                        <tr>
                            <th><label for="{{ form.idtipustoponim.id_for_label }}">Tipus:</label></th>
                            <td>{{ form.idtipustoponim }}</td>
                            <td>{{ form.idtipustoponim.errors }}</td>
                        </tr>
                        <tr>
                            <th><label for="{{ form.idpais.id_for_label }}">País:</label></th>
                            <td>{{ form.idpais }}</td>
                            <td>{{ form.idpais.errors }}</td>
                        </tr>
                        <tr>
                            <th><label for="{{ form.aquatic.id_for_label }}">Aquàtic?:</label></th>
                            <td>{{ form.aquatic }}</td>
                            <td>{{ form.aquatic.errors }}</td>
                        </tr>
                    </table>
                </div>
                {{ form.idpare.as_hidden }}
                <div class="col-sm-6">
                    <label>Jerarquia del topònim:</label>
                    <div id="ariadna"><ul></ul></div>
                    <label>Topònim pare:</label>
                    <div class="scroll_jstree" id="jstree"></div>
                </div>
            </div>
        </div>
    </form>
    <div class="container separador_seccio">
        <p><strong>Dades versió:</strong></p>
    </div>
    <div class="container">
        <table id="toponimversio_edit">
            <tr>
                <th><label for="numero_versio">Número de versió <a class="botoinfo" title="Numeració de les versions de cada topònim, des de l’ 1 i creixement progressiu; útil només per identificar versions"><i class="fa fa-info" aria-hidden="true"></i></a> :</label></th>
                <td><input id="numero_versio" type="text"></td>
                <td></td>
            </tr>
            <tr>
                <th><label for="qualificador_versio">Qualificador de versió:</label></th>
                <td><select id="qualificador_versio"></select></td>
                <td></td>
            </tr>
        </table>
    </div>
</main>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'jstree/dist/jstree.min.js' %}"></script>
    <script src="{% static 'georef/javascript/toponim_update.js' %}"></script>
{% endblock %}