{% extends "georef/base.html" %}
{% load staticfiles %}
{% block extra_css %}
    <link href="{% static 'datatables.net-dt/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
    <!--<link href="{% static 'georef/javascript/openlayers-v4.4.2/ol.css' %}" rel="stylesheet">-->
    <link href="{% static 'georef/javascript/leaflet/leaflet.css' %}" rel="stylesheet">
    <link href="{% static 'georef/javascript/leaflet.plugins/Leaflet.StyledLayerControl/css/styledLayerControl.css' %}" rel="stylesheet">
    <link href="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/leaflet.draw.css' %}" rel="stylesheet">
    <link href="{% static 'georef/css/georef.css' %}" rel="stylesheet">
{% endblock %}
{% block extrahead %}
    <script>
        var _toponim_list_url = "{% url 'toponims_datatable_list' %}";
    </script>
{% endblock %}
{% block main %}
<main>
    <div class="page-header"></div>
    <div class="container">
        <div id="map"></div>
    </div>
    <div class="container">
        <div class="wrapper clear_blue">
            <button id="addCondicio" type="button" class="btn btn-primary">Afegir condició <i class="fa fa-plus" aria-hidden="true"></i></button>
            <table id="taulafiltre"></table>
        </div>
    </div>
    <div class="container">
        <table id="toponims_list" style="width:100%;"></table>
    </div>
</main>
{% endblock %}
{% block extra_js %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmGF2iEuPZt4fCJqxgHLZ8WMtQ7wM0Sp4" async defer></script>
    <script src="{% static 'datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <!--<script src="{% static 'georef/javascript/openlayers-v4.4.2/ol.js' %}"></script>-->
    <script src="{% static 'georef/javascript/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.GridLayer.GoogleMutant/Leaflet.GoogleMutant.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.StyledLayerControl/src/styledLayerControl.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet_map_editable.js' %}"></script>

    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/Leaflet.draw.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/Leaflet.Draw.Event.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/Toolbar.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/Tooltip.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/GeometryUtil.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/LatLngUtil.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/LineUtil.Intersect.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/Polygon.Intersect.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/Polyline.Intersect.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/TouchEvents.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/DrawToolbar.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Feature.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.SimpleShape.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Polyline.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Marker.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Circle.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.CircleMarker.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Polygon.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Rectangle.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/EditToolbar.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/EditToolbar.Edit.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/EditToolbar.Delete.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/Control.Draw.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.Poly.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.SimpleShape.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.Rectangle.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.Marker.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.CircleMarker.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.Circle.js' %}"></script>

    <script src="{% static 'georef/javascript/toponims_list.js' %}"></script>
    <script>
        var indexTaula = 0;

        var valorsOperadors = new Array();
        valorsOperadors[0] = {id : "and", value : "AND"};
        valorsOperadors[1] = {id : "or", value : "OR" };

        var valorsCondicions = new Array();
        valorsCondicions[0] = {id : "nom",value : "Nom"};
        valorsCondicions[1] = {id : "tipus",value : "Tipus"};
        valorsCondicions[2] = {id : "pais",value : "País"};
        valorsCondicions[3] = {id : "aquatic",value : "Aquàtic?"};
        valorsCondicions[4] = {id : "geografic",value : "Filtre geogràfic"};

        var valorsAquatic = new Array();
        valorsAquatic[0] = {id : "S",value : "Sí"};
        valorsAquatic[1] = {id : "N",value : "No"};

        var valorsTipus = new Array();
        {% for tipus in llista_tipus %}
            valorsTipus.push({id:"{{ tipus.id }}",value:"{{ tipus.nom }}"});
        {% endfor %}

        var valorsPaisos = new Array();
        {% for pais in llista_paisos %}
            valorsPaisos.push({id:"{{ pais.id }}",value:"{{ pais.nom }}"});
        {% endfor %}

        var txtBotoEsborrarCondicioFiltre = 'Esborrar';
        var txtFuncionamentFiltreCarto = 'Cal digitalitzar una geometria sobre el mapa';
    </script>
    <script src="{% static 'georef/javascript/filtre.js' %}"></script>
{% endblock %}