{% extends "georef/base.html" %}
{% load staticfiles %}
{% block extra_css %}
    <link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'georef/javascript/leaflet/leaflet.css' %}" rel="stylesheet">
    <link href="{% static 'georef/javascript/leaflet.plugins/Leaflet.StyledLayerControl/css/styledLayerControl.css' %}" rel="stylesheet">
    <link href="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/leaflet.draw.css' %}" rel="stylesheet">
    <link href="{% static 'georef/css/georef.css' %}" rel="stylesheet">
    <link href="{% static 'jstree/dist/themes/default/style.min.css' %}" rel="stylesheet">
    <style>
        /* Fix to avoid table overflow */
        #toponimversio_edit tbody tr td select{
            width: 100%;
        }
        #toponimversio_edit tbody tr td input{
            width: 100%;
        }
        #map{
            height: 290px;
        }
    </style>
{% endblock %}
{% block extrahead %}
    <script>
        var node_list_full = {{ nodelist_full|safe }};
        var node_list = [];
        for(var i = 0; i < node_list_full.length; i++){
            node_list.push(node_list_full[i].split('$')[0]);
        }
        var node_ini = "1";
    </script>
    <script>
        var wms_url = "{{ wms_url }}";
    </script>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'toastr/toastr.min.js' %}"></script>
    {{ toponimversio_form.media }}
{% endblock %}
{% block main %}
<main>
    <div class="page-header">
    </div>
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inici</a></li>
            <li class="breadcrumb-item">Topònims</li>
            <li class="breadcrumb-item active">Edició de topònim</li>
        </ol>
    </div>
    <div class="container">
        <form action="{% url 'toponims_update_2' idtoponim idversio %}" method="post">
            {% csrf_token %}
            <div class="container">
                <a role="button" class="btn btn-success" href="{% url 'toponims' %}">Cancel·lar</a>
            </div>
            <div class="container separador_seccio">
                <p><strong>Dades bàsiques:</strong></p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <table id="toponim_edit">
                            <tr>
                                <th><label for="{{ form.nom.id_for_label }}">Nom:</label></th>
                                <td>{{ form.nom }}</td>
                                <td>{{ form.nom.errors }}</td>
                            </tr>
                            <tr>
                                <th><label for="{{ form.idtipustoponim.id_for_label }}">Tipus:</label></th>
                                <td>{{ form.idtipustoponim }}</td>
                                <td>{{ form.idtipustoponim.errors }}</td>
                            </tr>
                            <tr>
                                <th><label for="{{ form.idpais.id_for_label }}">País:</label></th>
                                <td>{{ form.idpais }}</td>
                                <td>{{ form.idpais.errors }}</td>
                            </tr>
                            <tr>
                                <th><label for="{{ form.aquatic.id_for_label }}">Aquàtic?:</label></th>
                                <td>{{ form.aquatic }}</td>
                                <td>{{ form.aquatic.errors }}</td>
                            </tr>
                        </table>
                    </div>
                    {{ form.idpare.as_hidden }}
                    <div class="col-sm-6">
                        <label>Jerarquia del topònim:</label>
                        <div id="ariadna"><ul></ul></div>
                        <label>Topònim pare:</label>
                        <div class="scroll_jstree" id="jstree"></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <input role="button" class="btn btn-success" type="submit" value="Desar Topònim" />
            </div>
        </form>
        {% if versions %}
        <div class="container separador_seccio">
            <p><strong>Versions:</strong></p>
            <input role="button" class="btn btn-success" type="submit" value="Afegir nova versió" />
            <table id="versions">
                <tr class="table_top">
                    <td><strong>#</strong></td>
                    <td><strong>Qualificador</strong></td>
                    <td><strong>Data</strong></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                {% for versio in versions %}
                <tr {% if versio.id == id_darrera_versio %} class="active_edit" {% endif %} id="{{ versio.id }}">
                    <td>{{ versio.numero_versio }}</td>
                    <td>{{ versio.idqualificador.qualificador }}</td>
                    <td>{{ versio.datacaptura | date:"d/m/Y"}}</td>
                    <td><a href="{% url 'toponims_update_2' idtoponim versio.id %}" class="btn btn-info"><i class="fa fa-pencil-square-o"></i></a></td>
                    <!--<td><button id="edit_version" class="btn btn-info" type="reset"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>-->
                    <td><button id="delete_version" class="btn btn-danger" type="reset"><i class="fa fa-times"></i></button></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
            <form action="{% url 'toponims_update_2' idtoponim idversio %}" method="post">
                {% csrf_token %}
                <div class="container form-container">
                    <div class="separador_seccio">
                        <p><strong>Dades versió:</strong></p>
                        {% if not versions %}
                        <span class="label label-warning"><i class="fa fa-info" aria-hidden="true"></i> Aquest topònim encara no té versions. Omple el formulari de versió i prem 'Desar versió' per crear la primera versió</span>
                        {% endif %}
                    </div>
                    {{ versio.id.as_hidden }}
                    <div class="row">
                        <div class="col-sm-6">
                            <table id="toponimversio_edit">
                                <tr>
                                    <th><label for="{{ toponimversio_form.numero_versio.id_for_label }}">Número de versió <a class="botoinfo" title="Numeració de les versions de cada topònim, des de l’ 1 i creixement progressiu; útil només per identificar versions"><i class="fa fa-info" aria-hidden="true"></i></a> :</label></th>
                                    <td>{{ toponimversio_form.numero_versio }}</td>
                                    <td>{{ toponimversio_form.numero_versio.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label for="{{ toponimversio_form.idqualificador.id_for_label }}">Qualificador de versió:</label></th>
                                    <td>{{ toponimversio_form.idqualificador }}</td>
                                    <td>{{ toponimversio_form.idqualificador.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label for="{{ toponimversio_form.idrecursgeoref.id_for_label }}">Versió capturada del recurs:</label></th>
                                    <td>{{ toponimversio_form.idrecursgeoref }}</td>
                                    <td>{{ toponimversio_form.idrecursgeoref.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label for="{{ toponimversio_form.nom.id_for_label }}">Nom del topònim al recurs:</label></th>
                                    <td>{{ toponimversio_form.nom }}</td>
                                    <td>{{ toponimversio_form.nom.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label for="{{ toponimversio_form.datacaptura.id_for_label }}">Data:</label></th>
                                    <td>{{ toponimversio_form.datacaptura }}</td>
                                    <td>{{ toponimversio_form.datacaptura.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label for="{{ toponimversio_form.coordenada_x_origen.id_for_label }}">Coordenada X original:</label></th>
                                    <td>{{ toponimversio_form.coordenada_x_origen }}</td>
                                    <td>{{ toponimversio_form.coordenada_x_origen.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label for="{{ toponimversio_form.coordenada_y_origen.id_for_label }}">Coordenada Y original:</label></th>
                                    <td>{{ toponimversio_form.coordenada_y_origen }}</td>
                                    <td>{{ toponimversio_form.coordenada_y_origen.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label for="{{ toponimversio_form.coordenada_z_origen.id_for_label }}">Coordenada Z:</label></th>
                                    <td>{{ toponimversio_form.coordenada_z_origen }}</td>
                                    <td>{{ toponimversio_form.coordenada_z_origen.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label for="{{ toponimversio_form.precisio_z_origen.id_for_label }}">Incertesa d'altitud(m):</label></th>
                                    <td>{{ toponimversio_form.precisio_z_origen }}</td>
                                    <td>{{ toponimversio_form.precisio_z_origen.errors }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <input role="button" class="btn btn-success" type="submit" value="Desar Versió" />
                    <input role="button" class="btn btn-danger" value="Esborrar Versió" />
                </div>
            </form>
    </div>
</main>
{% endblock %}
{% block js %}

{% endblock %}
{% block extra_js %}
    <script src="{% static 'jstree/dist/jstree.min.js' %}"></script>
    <script src="{% static 'georef/javascript/tree_util.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmGF2iEuPZt4fCJqxgHLZ8WMtQ7wM0Sp4" async defer></script>
    <script src="{% static 'georef/javascript/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.GridLayer.GoogleMutant/Leaflet.GoogleMutant.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.StyledLayerControl/src/styledLayerControl.js' %}"></script>

    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/Leaflet.draw.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/Leaflet.Draw.Event.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/Toolbar.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/Tooltip.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/GeometryUtil.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/LatLngUtil.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/LineUtil.Intersect.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/Polygon.Intersect.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/Polyline.Intersect.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/TouchEvents.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/DrawToolbar.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Feature.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.SimpleShape.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Polyline.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Marker.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Circle.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.CircleMarker.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Polygon.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Rectangle.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/EditToolbar.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/EditToolbar.Edit.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/EditToolbar.Delete.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/Control.Draw.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.Poly.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.SimpleShape.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.Rectangle.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.Marker.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.CircleMarker.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.Circle.js' %}"></script>
    <script src="{% static 'georef/javascript/djangoref_map.js' %}"></script>
    <script src="{% static 'georef/javascript/toponim_update.js' %}"></script>
    <script>
        {% if saved_success %}
            toastr.success('Desat amb èxit!');
        {% endif %}
    </script>
{% endblock %}