{% extends "georef/base.html" %}
{% load staticfiles %}
{% block extra_css %}
    <link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'georef/css/georef.css' %}" rel="stylesheet">
    <link href="{% static 'jstree/dist/themes/default/style.min.css' %}" rel="stylesheet">
{% endblock %}
{% block extrahead %}
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'toastr/toastr.min.js' %}"></script>
    {{ tv_form.media }}
    <script>
        var node_list_full = {{ nodelist_full|safe }};
        var node_list = [];
        for(var i = 0; i < node_list_full.length; i++){
            node_list.push(node_list_full[i].split('$')[0]);
        }
        var node_ini = "1";
    </script>
    <script>
        var wms_url = "{{ wms_url }}";
    </script>
{% endblock %}
{% block main %}
<main>
    <div class="page-header">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Inici</a></li>
                <li class="breadcrumb-item">Topònims</li>
                <li class="breadcrumb-item active">Edició de topònim</li>
            </ol>
        </div>
    </div>
    <div class="container">
        <form action="{% url 'toponims_update' id %}" method="post">
            {% csrf_token %}
            <div class="container">
                <a role="button" class="btn btn-success" href="{% url 'toponims' %}">Cancel·lar</a>
                <input role="button" class="btn btn-success" type="submit" value="Desar" />
            </div>
            <div class="container separador_seccio">
                <p><strong>Dades bàsiques:</strong></p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <table id="toponim_edit">
                            <tr>
                                <th><label for="{{ form.nom.id_for_label }}">Nom:</label></th>
                                <td>{{ form.nom }}</td>
                                <td>{{ form.nom.errors }}</td>
                            </tr>
                            <tr>
                                <th><label for="{{ form.idtipustoponim.id_for_label }}">Tipus:</label></th>
                                <td>{{ form.idtipustoponim }}</td>
                                <td>{{ form.idtipustoponim.errors }}</td>
                            </tr>
                            <tr>
                                <th><label for="{{ form.idpais.id_for_label }}">País:</label></th>
                                <td>{{ form.idpais }}</td>
                                <td>{{ form.idpais.errors }}</td>
                            </tr>
                            <tr>
                                <th><label for="{{ form.aquatic.id_for_label }}">Aquàtic?:</label></th>
                                <td>{{ form.aquatic }}</td>
                                <td>{{ form.aquatic.errors }}</td>
                            </tr>
                        </table>
                    </div>
                    {{ form.idpare.as_hidden }}
                    <div class="col-sm-6">
                        <label>Jerarquia del topònim:</label>
                        <div id="ariadna"><ul></ul></div>
                        <label>Topònim pare:</label>
                        <div class="scroll_jstree" id="jstree"></div>
                    </div>
                </div>
            </div>
            {{ tv_form.management_form }}
            {% for versio in tv_form %}
            <div class="container form-container">
                <div class="separador_seccio">
                    <p><strong>Dades versió:</strong></p>
                </div>
                {{ versio.id.as_hidden }}
                <table id="toponimversio_edit">
                    <tr>
                        <th><label for="{{ form.numero_versio.id_for_label }}">Número de versió <a class="botoinfo" title="Numeració de les versions de cada topònim, des de l’ 1 i creixement progressiu; útil només per identificar versions"><i class="fa fa-info" aria-hidden="true"></i></a> :</label></th>
                        <td>{{ versio.numero_versio }}</td>
                        <td>{{ versio.numero_versio.errors }}</td>
                    </tr>
                    <tr>
                        <th><label for="{{ form.idqualificador.id_for_label }}">Qualificador de versió:</label></th>
                        <td>{{ versio.idqualificador }}</td>
                        <td>{{ versio.idqualificador.errors }}</td>
                    </tr>
                    <tr>
                        <th><label for="{{ form.idrecursgeoref.id_for_label }}">Versió capturada del recurs:</label></th>
                        <td>{{ versio.idrecursgeoref }}</td>
                        <td>{{ versio.idrecursgeoref.errors }}</td>
                    </tr>
                    <tr>
                        <th><label for="{{ form.nom.id_for_label }}">Nom del topònim al recurs:</label></th>
                        <td>{{ versio.nom }}</td>
                        <td>{{ versio.nom.errors }}</td>
                    </tr>
                    <tr>
                        <th><label for="{{ form.datacaptura.id_for_label }}">Data:</label></th>
                        <td>{{ versio.datacaptura }}</td>
                        <td>{{ versio.datacaptura.errors }}</td>
                    </tr>
                    <tr>
                        <th><label for="{{ form.coordenada_x_origen.id_for_label }}">Coordenada X original:</label></th>
                        <td>{{ versio.coordenada_x_origen }}</td>
                        <td>{{ versio.coordenada_x_origen.errors }}</td>
                    </tr>
                    <tr>
                        <th><label for="{{ form.coordenada_y_origen.id_for_label }}">Coordenada Y original:</label></th>
                        <td>{{ versio.coordenada_y_origen }}</td>
                        <td>{{ versio.coordenada_y_origen.errors }}</td>
                    </tr>
                    <tr>
                        <th><label for="{{ form.coordenada_z_origen.id_for_label }}">Coordenada Z:</label></th>
                        <td>{{ versio.coordenada_z_origen }}</td>
                        <td>{{ versio.coordenada_z_origen.errors }}</td>
                    </tr>
                    <tr>
                        <th><label for="{{ form.precisio_z_origen.id_for_label }}">Incertesa d'altitud(m):</label></th>
                        <td>{{ versio.precisio_z_origen }}</td>
                        <td>{{ versio.precisio_z_origen.errors }}</td>
                    </tr>
                </table>
            </div>
            {% endfor %}
        </form>
    </div>
</main>
{% endblock %}
{% block js %}

{% endblock %}
{% block extra_js %}
    <script src="{% static 'jstree/dist/jstree.min.js' %}"></script>
    <script src="{% static 'georef/javascript/toponim_update.js' %}"></script>
    <script src="{% static 'georef/javascript/jquery.formset.js' %}"></script>
    <script>
        $('.form-container').formset(
            {
                addText: 'Afegir versió',
                deleteText: 'Eliminar versió',
                addCssClass: 'btn btn-primary add_toponimversio',
                deleteCssClass: 'btn btn-danger',
                removed: function(row){
                    var conf = confirm('Realment vols esborrar la versió?');
                    if(conf == false){
                        return;
                    }
                }
            }
        );
    </script>
    <script>
        {% if saved_success %}
            toastr.success('Desat amb èxit!');
        {% endif %}
    </script>
{% endblock %}