{% extends "georef/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load l10n %}
{% block extra_css %}
    <link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'georef/javascript/leaflet/leaflet.css' %}" rel="stylesheet">
    <link href="{% static 'georef/javascript/leaflet.plugins/Leaflet.StyledLayerControl/css/styledLayerControl.css' %}" rel="stylesheet">
    <link href="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/leaflet.draw.css' %}" rel="stylesheet">
    <link href="{% static 'georef/css/georef.css' %}" rel="stylesheet">
    <link href="{% static 'georef/javascript/ajaxuploader/css/fileuploader.css' %}" media="screen" rel="stylesheet" type="text/css" >
    <link href="{% static 'jstree/dist/themes/default/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'georef/javascript/leaflet.plugins/Leaflet.Coordinates-master/dist/Leaflet.Coordinates-0.1.5.css' %}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <style>
        /* Fix to avoid table overflow */
        .toponimversio_edit{
            width: 100%;
        }
        .toponimversio_edit tbody tr td {
            width: 100%;
        }
        .toponimversio_edit tbody tr td select{
            width: 100%;
        }
        .toponimversio_edit tbody tr td input{
            width: 100%;
        }
        #map{
            height: 350px;
        }

        .leaflet-control-layers {
            max-height: 200px;
            overflow: auto;
        }
</style>
    </style>
{% endblock %}
{% block extrahead %}
    <script>
        var _versio_delete_url = "{% url 'versions-list' %}";
        var _last_version_url = "{% url 'toponims_update_2' idtoponim -1 %}";
        var _sistref_list_url = "{% url 'sistrefassociat' %}";
        var _versio_capturada_url = "{% url 'recursgeoref-list' %}";
    </script>
    <script>
        var node_list_full = {{ nodelist_full|safe }};
        var node_list = [];
        for(var i = 0; i < node_list_full.length; i++){
            node_list.push(node_list_full[i].split('$')[0]);
        }
        /*var node_ini = "1";*/
        var node_ini = "{{ node_ini }}";
    </script>
    <script>
        var wms_url = "{{ wms_url }}";
        var _ajax_upload_url = "{% url 'ajax_upload' %}";
        var _import_shapefile_url = "{% url 'process_shapefile' %}";
        var csrf_token = '{{ csrf_token }}';
        var geometries_json = {% if geometries_json %} JSON.parse('{{ geometries_json | safe }}') {% else %} null {% endif %};

        var stored_centroid_radius_m{% if toponimversio_form.instance.precisio_h %}={{ toponimversio_form.instance.precisio_h | unlocalize }};{% endif %};
        var wmslayers = JSON.parse('{{ wmslayers | escapejs }}');
    </script>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'toastr/toastr.min.js' %}"></script>
    {{ toponimversio_form.media }}
{% endblock %}
{% block main %}
<main>
    <div class="page-header">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Inici' %}</a></li>
                <li class="breadcrumb-item">{% trans 'Topònims' %}</li>
                <li class="breadcrumb-item active">{% trans 'Edició de topònim' %}</li>
            </ol>
        </div>
    </div>
    <div class="container">
        <form action="{% url 'toponims_update_2' idtoponim idversio %}" method="post">
            {% csrf_token %}
            <div class="container">
                <a role="button" class="btn btn-success" href="{% url 'toponims' %}" data-toggle="tooltip" data-placement="right" title="{% trans 'Tornar al llistat de topònims' %}">{% trans 'Tornar al llistat' %}</a>
            </div>
            <div class="container separador_seccio">
                <p><strong>{% trans 'Dades bàsiques' %}:</strong></p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <table id="toponim_edit">
                            <tr>
                                <th><label for="{{ form.nom.id_for_label }}">{% trans 'Nom' %}:</label></th>
                                <td>{{ form.nom }}</td>
                                <td>{{ form.nom.errors }}</td>
                            </tr>
                            <tr>
                                <th><label for="{{ form.idtipustoponim.id_for_label }}">{% trans 'Tipus' %}:</label></th>
                                <td>{{ form.idtipustoponim }}</td>
                                <td>{{ form.idtipustoponim.errors }}</td>
                            </tr>
                            <tr>
                                <th><label for="{{ form.idpais.id_for_label }}">{% trans 'País' %}:</label></th>
                                <td>{{ form.idpais }}</td>
                                <td>{{ form.idpais.errors }}</td>
                            </tr>
                            <tr>
                                <th><label for="{{ form.aquatic.id_for_label }}">{% trans 'Aquàtic' %}?:</label></th>
                                <td>{{ form.aquatic }}</td>
                                <td>{{ form.aquatic.errors }}</td>
                            </tr>
                        </table>
                    </div>
                    {{ form.idpare.as_hidden }}
                    <div class="col-sm-8">
                        <label>{% trans 'Jerarquia del topònim' %}:</label>
                        <div id="ariadna"><ul></ul></div>
                        <label>{% trans 'Topònim pare' %}:</label>
                        <div class="scroll_jstree" id="jstree"></div>
                    </div>
                </div>
            </div>
            <div class="container">
                {% if user.profile.is_admin or user.profile.can_edit_toponim or user.is_superuser %}
                <input data-toggle="tooltip" data-placement="left" title="{% trans 'btn_save_toponim_tooltip' %}" role="button" class="btn btn-success" type="submit" name="save_toponim_from_toponimversio" value="{% trans 'Desar Topònim' %}" />
                <!-- "Es desarà la informació que hagis modificat del topònim (els camps que queden per sobre d'aquest botó)" -->
                {% endif %}
            </div>
        </form>
        {% if versions %}
        <div class="container separador_seccio">
            <p><strong>{% trans 'Versions' %}:</strong></p>
            {% if user.profile.is_admin or user.profile.can_edit_toponim or user.is_superuser %}
            <a data-toggle="tooltip" data-placement="left" title="{% trans 'btn_save_version_tooltip' %}" href="{% url 'toponims_update_2' idtoponim -2 %}" class="btn btn-success">{% trans 'Afegir nova versió' %}</a>
            <!-- "Crear la fitxa d’una nova versió del topònim" -->
            {% endif %}
            <table id="versions">
                <tr class="table_top">
                    <td><strong>#</strong></td>
                    <td><strong>{% trans 'Qualificador' %}</strong></td>
                    <td><strong>{% trans 'Data' %}</strong></td>
                    <td>{% trans 'Autor' %}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                {% if id_darrera_versio == '-2' %}
                    <tr class="active_edit">
                        <td colspan="4">{% trans 'Afegint nova versió...' %}</td>
                        <td><a role="button" class="btn btn-success" href="{% url 'toponims_update_2' idtoponim -1 %}">{% trans 'Cancel·lar' %}</a></td>
                    </tr>
                {% endif %}
                {% for versio in versions %}
                <tr {% if versio.id == id_darrera_versio %} class="active_edit" {% endif %} id="{{ versio.id }}">
                    <td>{{ versio.numero_versio }}</td>
                    <td>{{ versio.idqualificador.qualificador }}</td>
                    <td>{{ versio.datacaptura | date:"d/m/Y"}}</td>
                    <td>{{ versio.iduser.first_name }} {{ versio.iduser.last_name }}</td>
                    <td><a href="{% url 'toponims_update_2' idtoponim versio.id %}" class="btn btn-info"><i class="fa fa-pencil-square-o"></i></a></td>
                    <td>
                        {% if user.profile.is_admin or user.profile.can_edit_toponim or user.is_superuser %}
                        <button id="delete_version" class="btn btn-danger" onclick="javascript:confirmDialog('Estàs a punt d\'esborrar la versió \'{{ versio.nom | safe }}\' amb numero \'{{ versio.numero_versio | safe }}\', vols continuar?','{{ versio.id }}');" type="reset"><i class="fa fa-times"></i></button>
                        {% else %}
                        &nbsp;
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
            <form action="{% url 'toponims_update_2' idtoponim idversio %}" method="post">
                {% csrf_token %}
                <div id="div_versions" class="container form-container">
                    <div class="separador_seccio">
                        <p><strong>{% trans 'Dades versió' %}: {% if id_darrera_versio == '-2' %} {% trans '(Afegint nova versió...)' %} {% else %} {{ toponimversio_form.instance.nom }} {% endif %}</strong></p>
                        {% if not versions %}
                        <span class="label label-warning"><i class="fa fa-info" aria-hidden="true"></i> {% trans 'toponym_update_no_versions' %}</span>
                        <!-- Aquest topònim encara no té versions. Omple el formulari de versió i prem 'Desar versió' per crear la primera versió -->
                        {% endif %}
                    </div>
                    {{ versio.id.as_hidden }}
                    <div class="row">
                        <div class="col-sm-5">
                            <table class="toponimversio_edit">
                                <tr>
                                    <th><label class="iconainfo" data-toggle="tooltip" data-placement="left" title="{% trans 'toponym_numbering_tooltip' %}" for="{{ toponimversio_form.numero_versio.id_for_label }}">{% trans 'Número versió' %}:</label></th>
                                    <!-- "Numeració de les versions de cada topònim, des de l'1 i creixent. Útil només per identificar versions" -->
                                    <td>{{ toponimversio_form.numero_versio }}</td>
                                    <td>{{ toponimversio_form.numero_versio.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label for="{{ toponimversio_form.idqualificador.id_for_label }}">{% trans 'Qualificador versió' %}:</label></th>
                                    <td>{{ toponimversio_form.idqualificador }}</td>
                                    <td>{{ toponimversio_form.idqualificador.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label class="iconainfo" data-toggle="tooltip" data-placement="left" title="{% trans 'toponym_version_autocomplete_tooltip' %}" for="{{ toponimversio_form.idrecursgeoref.id_for_label }}">{% trans 'Versió capturada del recurs' %}:</label></th>
                                    <!-- "Al desplegable es pot triar un recurs. Després s'omplirà el control de sistemes de referència amb els sistemes possibles per al recurs triat." -->
                                    <td><input id="autoc_vcr" type="text" value="{{ toponimversio_form.instance.idrecursgeoref.nom }}"></td>
                                    <td>{{ toponimversio_form.idrecursgeoref }}</td>
                                </tr>
                                <tr>
                                    <th>{% trans 'Sistema referència del recurs' %}:</th>
                                    <td id="sistref_recurs">{{ toponimversio_form.instance.idrecursgeoref.idsistemareferenciamm.nom }}</td>
                                </tr>
                                <tr>
                                    <th><label class="iconainfo" data-toggle="tooltip" data-placement="left" title="{% trans 'toponym_nomtoponim_resource' %}" for="{{ toponimversio_form.nom.id_for_label }}">{% trans 'Nom del topònim al recurs' %}:</label></th>
                                    <!-- "Transcripció literal del topònim segons el recurs emprat per georeferenciar" -->
                                    <td>{{ toponimversio_form.nom }}</td>
                                    <td>{{ toponimversio_form.nom.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label class="iconainfo" data-toggle="tooltip" data-placement="left" title="{% trans 'toponym_date_tooltip' %}" for="{{ toponimversio_form.datacaptura.id_for_label }}">{% trans 'Data' %}:</label></th>
                                    <! -- "Data de generació de la fitxa de versió" -->
                                    <td>{{ toponimversio_form.datacaptura }}</td>
                                    <td>{{ toponimversio_form.datacaptura.errors }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-7">
                            <div id="map">
                                <div id="boto-digit-point">
                                    <a id="kb_digit" class="custom-digit-point" href="#" title="{% trans 'toponim_kb_digitize_tooltip' %}">
                                        <!-- "Digitalitza un punt per teclat" -->
                                        <span class="sr-only"></span>
                                    </a>
                                </div>
                            </div>
                            <div id="fileuploader"></div>
                            <div id="dialog-uncertainty-radius" title="{% trans 'toponim_uncert_radius_tooltip' %}">
                                <!-- "Entra el radi d'incertesa del punt, en metres" -->
                                <p class="validateTips"></p>
                                <label for="radi">{% trans 'Radi' %}</label>
                                <input type="text" name="radi" id="radi" value="" class="text ui-widget-content ui-corner-all">
                            </div>
                            <div id="dialog-digitize-kb" title="{% trans 'Digitalització de punt via teclat' %}">
                                <p class="validateTipsKb"></p>
                                <table>
                                    <tr>
                                        <td><label for="inc_radius_kb">{% trans 'Radi incertesa(m)' %}</label></td>
                                        <td><input type="text" name="inc_radius_kb" id="inc_radius_kb" value="" class="text ui-widget-content ui-corner-all"></td>
                                    </tr>
                                    <tr>
                                        <td><label for="coord_x_kb">{% trans 'Coordenada x (longitud)' %}</label></td>
                                        <td><input type="text" name="coord_x_kb" id="coord_x_kb" value="" class="text ui-widget-content ui-corner-all"></td>
                                    </tr>
                                    <tr>
                                        <td><label for="coord_y_kb">{% trans 'Coordenada y (latitud)' %}</label></td>
                                        <td><input type="text" name="coord_y_kb" id="coord_y_kb" value="" class="text ui-widget-content ui-corner-all"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <table class="toponimversio_edit">
                                <tr>
                                    <th><label class="iconainfo" data-toggle="tooltip" data-placement="left" title="{% trans 'toponim_coordx_origin' %}" for="{{ toponimversio_form.coordenada_x_origen.id_for_label }}">{% trans 'Coordenada X original' %}:</label></th>
                                    <!-- "Valor de la coordenada resultant de localitzar el topònim en el recurs i d’haver convertit el sistema de referència al del museu si era necessari" -->
                                    <td>{{ toponimversio_form.coordenada_x_origen }}</td>
                                    <td>{{ toponimversio_form.coordenada_x_origen.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label class="iconainfo" data-toggle="tooltip" data-placement="left" title="{% trans 'toponim_coordy_origin' %}" for="{{ toponimversio_form.coordenada_y_origen.id_for_label }}">{% trans 'Coordenada Y original' %}:</label></th>
                                    <!-- "Valor de la coordenada resultant de localitzar el topònim en el recurs i d’haver convertit el sistema de referència al del museu si era necessari" -->
                                    <td>{{ toponimversio_form.coordenada_y_origen }}</td>
                                    <td>{{ toponimversio_form.coordenada_y_origen.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label for="{{ toponimversio_form.coordenada_z_origen.id_for_label }}">{% trans 'Coordenada Z' %}:</label></th>
                                    <td>{{ toponimversio_form.coordenada_z_origen }}</td>
                                    <td>{{ toponimversio_form.coordenada_z_origen.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label for="{{ toponimversio_form.precisio_z_origen.id_for_label }}">{% trans "Incertesa d'altitud(m)" %}:</label></th>
                                    <td>{{ toponimversio_form.precisio_z_origen }}</td>
                                    <td>{{ toponimversio_form.precisio_z_origen.errors }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-7">
                            <table class="toponimversio_edit">
                                <tr>
                                    <th><label class="iconainfo" data-toggle="tooltip" data-placement="left" title="{% trans 'toponim_coordx_transform_tooltip' %}" for="{{ toponimversio_form.coordenada_x_centroide.id_for_label }}">{% trans 'Coordenada X centroide' %}:</label></th>
                                    <!-- "Valor de les coordenades del centroide obtingut a partir de l’estimació sobre el mapa a sobre d'aquests controls" -->
                                    <td>{{ toponimversio_form.coordenada_x_centroide }}</td>
                                    <td>{{ toponimversio_form.coordenada_x_centroide.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label class="iconainfo" data-toggle="tooltip" data-placement="left" title="{% trans 'topomim_coordy_transform_tooltip' %}" for="{{ toponimversio_form.coordenada_y_centroide.id_for_label }}">{% trans 'Coordenada Y centroide' %}:</label></th>
                                    <!-- "Valor de les coordenades del centroide obtingut a partir de l’estimació sobre el mapa a sobre d'aquests controls" -->
                                    <td>{{ toponimversio_form.coordenada_y_centroide }}</td>
                                    <td>{{ toponimversio_form.coordenada_y_centroide.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label for="{{ toponimversio_form.precisio_h.id_for_label }}">{% trans 'Incertesa coordenades(m)' %}:</label></th>
                                    <td>{{ toponimversio_form.precisio_h }}</td>
                                    <td>{{ toponimversio_form.precisio_h.errors }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                        <label for="{{ form.observacions.id_for_label }}">{% trans 'Observacions' %}:</label>
                        {{ toponimversio_form.observacions }}
                        {{ toponimversio_form.observacions.errors }}
                        </div>
                    </div>
                </div>
                <div class="container">
                    {% if user.profile.is_admin or user.profile.can_edit_toponim or user.is_superuser %}
                    <input role="button" class="btn btn-success" type="submit" name="save_versio_from_toponimversio" value="{% trans 'Desar Versió' %}" />
                    {% endif %}
                </div>
                <input id="geometria" name="geometria" type="hidden" value=""/>
            </form>
    </div>
</main>
{% endblock %}
{% block js %}

{% endblock %}
{% block extra_js %}
    <script src="{% static 'jstree/dist/jstree.min.js' %}"></script>
    <script src="{% static 'georef/javascript/tree_util.js' %}"></script>
    <script src="{{ google_maps }}" async defer></script>
    <script src="{% static 'georef/javascript/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.GridLayer.GoogleMutant/Leaflet.GoogleMutant.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.StyledLayerControl/src/styledLayerControl.js' %}"></script>

    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/Leaflet.draw.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/Leaflet.Draw.Event.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/Toolbar.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/Tooltip.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/ext/GeometryUtil.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/ext/LatLngUtil.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/ext/LineUtil.Intersect.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/ext/Polygon.Intersect.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/ext/Polyline.Intersect.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/ext/TouchEvents.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/draw/DrawToolbar.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/draw/handler/Draw.Feature.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/draw/handler/Draw.SimpleShape.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/draw/handler/Draw.Polyline.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/draw/handler/Draw.Marker.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/draw/handler/Draw.Circle.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/draw/handler/Draw.CircleMarker.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/draw/handler/Draw.Polygon.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/draw/handler/Draw.Rectangle.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/edit/EditToolbar.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/edit/handler/EditToolbar.Edit.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/edit/handler/EditToolbar.Delete.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/Control.Draw.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/edit/handler/Edit.Poly.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/edit/handler/Edit.SimpleShape.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/edit/handler/Edit.Rectangle.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/edit/handler/Edit.Marker.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/edit/handler/Edit.CircleMarker.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Draw.static/src/edit/handler/Edit.Circle.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Coordinates-master/dist/Leaflet.Coordinates-0.1.5.min.js' %}"></script>
    <script src="{% static 'georef/javascript/turf.min.js' %}"></script>
    <script src="{% static 'georef/javascript/djangoref_map.js' %}"></script>
    <script src="{% static 'georef/javascript/cookies.js'%}"></script>
    <script src="{% static 'georef/javascript/csrf_utils.js'%}"></script>
    <script src="{% static 'ajaxuploader/js/fileuploader.js' %}"></script>
    <script src="{% static 'georef/javascript/wicket.min.js' %}"></script>
    <script src="{% static 'georef/javascript/utils.js' %}"></script>
    <script src="{% static 'georef/javascript/toponim_update.js' %}"></script>
    <script>
        {% if saved_success %}
            toastr.success( "{% trans 'Desat amb èxit!' %}" );
        {% endif %}
    </script>
{% endblock %}