{% extends "georef/base.html" %}
{% load staticfiles %}
{% block extra_css %}
    <link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'georef/javascript/leaflet/leaflet.css' %}" rel="stylesheet">
    <link href="{% static 'georef/javascript/leaflet.plugins/Leaflet.StyledLayerControl/css/styledLayerControl.css' %}" rel="stylesheet">
    <link href="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/leaflet.draw.css' %}" rel="stylesheet">
    <link href="{% static 'georef/css/georef.css' %}" rel="stylesheet">
    <link href="{% static 'georef/javascript/ajaxuploader/css/fileuploader.css' %}" media="screen" rel="stylesheet" type="text/css" >
    <link href="{% static 'jstree/dist/themes/default/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'georef/javascript/leaflet.plugins/Leaflet.Coordinates-master/dist/Leaflet.Coordinates-0.1.5.css' %}" rel="stylesheet">
    <style>
        /* Fix to avoid table overflow */
        .toponimversio_edit{
            width: 100%;
        }
        .toponimversio_edit tbody tr td {
            width: 100%;
        }
        .toponimversio_edit tbody tr td select{
            width: 100%;
        }
        .toponimversio_edit tbody tr td input{
            width: 100%;
        }
        #map{
            height: 270px;
        }
    </style>
{% endblock %}
{% block extrahead %}
    <script>
        var _versio_delete_url = "{% url 'versions-list' %}";
        var _last_version_url = "{% url 'toponims_update_2' idtoponim -1 %}";
        var _sistref_list_url = "{% url 'sistrefassociat' %}";
    </script>
    <script>
        var node_list_full = {{ nodelist_full|safe }};
        var node_list = [];
        for(var i = 0; i < node_list_full.length; i++){
            node_list.push(node_list_full[i].split('$')[0]);
        }
        /*var node_ini = "1";*/
        var node_ini = "{{ node_ini }}";
    </script>
    <script>
        var wms_url = "{{ wms_url }}";
        var _ajax_upload_url = "{% url 'ajax_upload' %}";
        var _import_shapefile_url = "{% url 'process_shapefile' %}";
        var csrf_token = '{{ csrf_token }}';
        var geometries_json = {% if geometries_json %} JSON.parse('{{ geometries_json | safe }}') {% else %} null {% endif %};
        var stored_centroid_radius_m = {% if toponimversio_form.instance.precisio_h %} {{ toponimversio_form.instance.precisio_h }} {% else %} null {% endif %};
        var wmslayers = JSON.parse('{{ wmslayers | escapejs }}');
    </script>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'toastr/toastr.min.js' %}"></script>
    {{ toponimversio_form.media }}
{% endblock %}
{% block main %}
<main>
    <div class="page-header">
    </div>
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inici</a></li>
            <li class="breadcrumb-item">Topònims</li>
            <li class="breadcrumb-item active">Edició de topònim</li>
        </ol>
    </div>
    <div class="container">
        <form action="{% url 'toponims_update_2' idtoponim idversio %}" method="post">
            {% csrf_token %}
            <div class="container">
                <a role="button" class="btn btn-success" href="{% url 'toponims' %}" data-toggle="tooltip" data-placement="right" title="Tornar al llistat de topònims">Tornar al llistat</a>
            </div>
            <div class="container separador_seccio">
                <p><strong>Dades bàsiques:</strong></p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <table id="toponim_edit">
                            <tr>
                                <th><label for="{{ form.nom.id_for_label }}">Nom:</label></th>
                                <td>{{ form.nom }}</td>
                                <td>{{ form.nom.errors }}</td>
                            </tr>
                            <tr>
                                <th><label for="{{ form.idtipustoponim.id_for_label }}">Tipus:</label></th>
                                <td>{{ form.idtipustoponim }}</td>
                                <td>{{ form.idtipustoponim.errors }}</td>
                            </tr>
                            <tr>
                                <th><label for="{{ form.idpais.id_for_label }}">País:</label></th>
                                <td>{{ form.idpais }}</td>
                                <td>{{ form.idpais.errors }}</td>
                            </tr>
                            <tr>
                                <th><label for="{{ form.aquatic.id_for_label }}">Aquàtic?:</label></th>
                                <td>{{ form.aquatic }}</td>
                                <td>{{ form.aquatic.errors }}</td>
                            </tr>
                        </table>
                    </div>
                    {{ form.idpare.as_hidden }}
                    <div class="col-sm-6">
                        <label>Jerarquia del topònim:</label>
                        <div id="ariadna"><ul></ul></div>
                        <label>Topònim pare:</label>
                        <div class="scroll_jstree" id="jstree"></div>
                    </div>
                </div>
            </div>
            <div class="container">
                {% if user.profile.is_admin or user.profile.can_edit_toponim %}
                <input data-toggle="tooltip" data-placement="left" title="Es desarà la informació que hagis modificat del topònim (els camps que queden per sobre d'aquest botó)" role="button" class="btn btn-success" type="submit" name="save_toponim_from_toponimversio" value="Desar Topònim" />
                {% endif %}
            </div>
        </form>
        {% if versions %}
        <div class="container separador_seccio">
            <p><strong>Versions:</strong></p>
            <!--<input role="button" class="btn btn-success" value="Afegir nova versió" />-->
            {% if user.profile.is_admin or user.profile.can_edit_toponim %}
            <a data-toggle="tooltip" data-placement="left" title="Crear la fitxa d’una nova versió del topònim" href="{% url 'toponims_update_2' idtoponim -2 %}" class="btn btn-success">Afegir nova versió</a>
            {% endif %}
            <table id="versions">
                <tr class="table_top">
                    <td><strong>#</strong></td>
                    <td><strong>Qualificador</strong></td>
                    <td><strong>Data</strong></td>
                    <td>Autor</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                {% if id_darrera_versio == '-2' %}
                    <tr class="active_edit">
                        <td colspan="4">Afegint nova versió...</td>
                        <td><a role="button" class="btn btn-success" href="{% url 'toponims_update_2' idtoponim -1 %}">Cancel·lar</a></td>
                    </tr>
                {% endif %}
                {% for versio in versions %}
                <tr {% if versio.id == id_darrera_versio %} class="active_edit" {% endif %} id="{{ versio.id }}">
                    <td>{{ versio.numero_versio }}</td>
                    <td>{{ versio.idqualificador.qualificador }}</td>
                    <td>{{ versio.datacaptura | date:"d/m/Y"}}</td>
                    <td>{{ versio.iduser }}</td>
                    <td><a href="{% url 'toponims_update_2' idtoponim versio.id %}" class="btn btn-info"><i class="fa fa-pencil-square-o"></i></a></td>
                    <td>
                        {% if user.profile.is_admin or user.profile.can_edit_toponim %}
                        <button id="delete_version" class="btn btn-danger" onclick="javascript:confirmDialog('Estàs a punt d\'esborrar la versió \'{{ versio.nom | safe }}\' amb numero \'{{ versio.numero_versio | safe }}\', vols continuar?','{{ versio.id }}');" type="reset"><i class="fa fa-times"></i></button>
                        {% else %}
                        &nbsp;
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
            <form action="{% url 'toponims_update_2' idtoponim idversio %}" method="post">
                {% csrf_token %}
                <div id="div_versions" class="container form-container">
                    <div class="separador_seccio">
                        <p><strong>Dades versió: {% if id_darrera_versio == '-2' %} (Afegint nova versió...) {% else %} {{ toponimversio_form.instance.nom }} {% endif %}</strong></p>
                        {% if not versions %}
                        <span class="label label-warning"><i class="fa fa-info" aria-hidden="true"></i> Aquest topònim encara no té versions. Omple el formulari de versió i prem 'Desar versió' per crear la primera versió</span>
                        {% endif %}
                    </div>
                    {{ versio.id.as_hidden }}
                    <div class="row">
                        <div class="col-sm-6">
                            <table class="toponimversio_edit">
                                <tr>
                                    <th><label class="iconainfo" data-toggle="tooltip" data-placement="left" title="Numeració de les versions de cada topònim, des de l'1 i creixent. Útil només per identificar versions" for="{{ toponimversio_form.numero_versio.id_for_label }}">Número versió:</label></th>
                                    <td>{{ toponimversio_form.numero_versio }}</td>
                                    <td>{{ toponimversio_form.numero_versio.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label for="{{ toponimversio_form.idqualificador.id_for_label }}">Qualificador versió:</label></th>
                                    <td>{{ toponimversio_form.idqualificador }}</td>
                                    <td>{{ toponimversio_form.idqualificador.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label class="iconainfo" data-toggle="tooltip" data-placement="left" title="Al desplegable es pot triar un recurs. Després s'omplirà el control de sistemes de referència amb els sistemes possibles per al recurs triat." for="{{ toponimversio_form.idrecursgeoref.id_for_label }}">Versió capturada del recurs:</label></th>
                                    <td>{{ toponimversio_form.idrecursgeoref }}</td>
                                    <td>{{ toponimversio_form.idrecursgeoref.errors }}</td>
                                </tr>
                                <tr>
                                    <th>Sistema referència del recurs:</th>
                                    <td id="sistref_recurs"></td>
                                </tr>
                                <tr>
                                    <th><label class="iconainfo" data-toggle="tooltip" data-placement="left" title="Transcripció literal del topònim segons el recurs emprat per georeferenciar" for="{{ toponimversio_form.nom.id_for_label }}">Nom del topònim al recurs:</label></th>
                                    <td>{{ toponimversio_form.nom }}</td>
                                    <td>{{ toponimversio_form.nom.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label class="iconainfo" data-toggle="tooltip" data-placement="left" title="Data de generació de la fitxa de versió" for="{{ toponimversio_form.datacaptura.id_for_label }}">Data:</label></th>
                                    <td>{{ toponimversio_form.datacaptura }}</td>
                                    <td>{{ toponimversio_form.datacaptura.errors }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <div id="map">
                                <div id="boto-digit-point">
                                    <a id="kb_digit" class="custom-digit-point" href="#" title="Digitalitza un punt per teclat">
                                        <span class="sr-only"></span>
                                    </a>
                                </div>
                            </div>
                            <div id="fileuploader"></div>
                            <div id="dialog-uncertainty-radius" title="Entra el radi d'incertesa del punt, en metres">
                                <p class="validateTips"></p>
                                <label for="radi">Radi</label>
                                <input type="text" name="radi" id="radi" value="" class="text ui-widget-content ui-corner-all">
                            </div>
                            <div id="dialog-digitize-kb" title="Digitalització de punt via teclat">
                                <p class="validateTipsKb"></p>
                                <table>
                                    <tr>
                                        <td><label for="inc_radius_kb">Radi incertesa(m)</label></td>
                                        <td><input type="text" name="inc_radius_kb" id="inc_radius_kb" value="" class="text ui-widget-content ui-corner-all"></td>
                                    </tr>
                                    <tr>
                                        <td><label for="coord_x_kb">Coordenada x (longitud)</label></td>
                                        <td><input type="text" name="coord_x_kb" id="coord_x_kb" value="" class="text ui-widget-content ui-corner-all"></td>
                                    </tr>
                                    <tr>
                                        <td><label for="coord_y_kb">Coordenada y (latitud)</label></td>
                                        <td><input type="text" name="coord_y_kb" id="coord_y_kb" value="" class="text ui-widget-content ui-corner-all"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <table class="toponimversio_edit">
                                <tr>
                                    <th><label class="iconainfo" data-toggle="tooltip" data-placement="left" title="Valor de la coordenada resultant de localitzar el topònim en el recurs i d’haver convertit el sistema de referència al del museu si era necessari" for="{{ toponimversio_form.coordenada_x_origen.id_for_label }}">Coordenada X original:</label></th>
                                    <td>{{ toponimversio_form.coordenada_x_origen }}</td>
                                    <td>{{ toponimversio_form.coordenada_x_origen.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label class="iconainfo" data-toggle="tooltip" data-placement="left" title="Valor de la coordenada resultant de localitzar el topònim en el recurs i d’haver convertit el sistema de referència al del museu si era necessari" for="{{ toponimversio_form.coordenada_y_origen.id_for_label }}">Coordenada Y original:</label></th>
                                    <td>{{ toponimversio_form.coordenada_y_origen }}</td>
                                    <td>{{ toponimversio_form.coordenada_y_origen.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label for="{{ toponimversio_form.coordenada_z_origen.id_for_label }}">Coordenada Z:</label></th>
                                    <td>{{ toponimversio_form.coordenada_z_origen }}</td>
                                    <td>{{ toponimversio_form.coordenada_z_origen.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label for="{{ toponimversio_form.precisio_z_origen.id_for_label }}">Incertesa d'altitud(m):</label></th>
                                    <td>{{ toponimversio_form.precisio_z_origen }}</td>
                                    <td>{{ toponimversio_form.precisio_z_origen.errors }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <table class="toponimversio_edit">
                                <tr>
                                    <th><label class="iconainfo" data-toggle="tooltip" data-placement="left" title="Valor de les coordenades del centroide obtingut a partir de l’estimació sobre el mapa a sobre d'aquests controls" for="{{ toponimversio_form.coordenada_x_centroide.id_for_label }}">Coordenada X centroide:</label></th>
                                    <td>{{ toponimversio_form.coordenada_x_centroide }}</td>
                                    <td>{{ toponimversio_form.coordenada_x_centroide.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label class="iconainfo" data-toggle="tooltip" data-placement="left" title="Valor de les coordenades del centroide obtingut a partir de l’estimació sobre el mapa a sobre d'aquests controls" for="{{ toponimversio_form.coordenada_y_centroide.id_for_label }}">Coordenada Y centroide:</label></th>
                                    <td>{{ toponimversio_form.coordenada_y_centroide }}</td>
                                    <td>{{ toponimversio_form.coordenada_y_centroide.errors }}</td>
                                </tr>
                                <tr>
                                    <th><label for="{{ toponimversio_form.precisio_h.id_for_label }}">Incertesa coordenades(m):</label></th>
                                    <td>{{ toponimversio_form.precisio_h }}</td>
                                    <td>{{ toponimversio_form.precisio_h.errors }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="container">
                    {% if user.profile.is_admin or user.profile.can_edit_toponim %}
                    <input role="button" class="btn btn-success" type="submit" name="save_versio_from_toponimversio" value="Desar Versió" />
                    {% endif %}
                </div>
                <input id="geometria" name="geometria" type="hidden" value=""/>
            </form>
    </div>
</main>
{% endblock %}
{% block js %}

{% endblock %}
{% block extra_js %}
    <script src="{% static 'jstree/dist/jstree.min.js' %}"></script>
    <script src="{% static 'georef/javascript/tree_util.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmGF2iEuPZt4fCJqxgHLZ8WMtQ7wM0Sp4" async defer></script>
    <script src="{% static 'georef/javascript/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.GridLayer.GoogleMutant/Leaflet.GoogleMutant.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.StyledLayerControl/src/styledLayerControl.js' %}"></script>

    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/Leaflet.draw.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/Leaflet.Draw.Event.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/Toolbar.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/Tooltip.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/GeometryUtil.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/LatLngUtil.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/LineUtil.Intersect.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/Polygon.Intersect.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/Polyline.Intersect.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/ext/TouchEvents.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/DrawToolbar.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Feature.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.SimpleShape.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Polyline.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Marker.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Circle.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.CircleMarker.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Polygon.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/draw/handler/Draw.Rectangle.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/EditToolbar.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/EditToolbar.Edit.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/EditToolbar.Delete.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/Control.Draw.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.Poly.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.SimpleShape.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.Rectangle.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.Marker.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.CircleMarker.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.draw/src/edit/handler/Edit.Circle.js' %}"></script>
    <script src="{% static 'georef/javascript/leaflet.plugins/Leaflet.Coordinates-master/dist/Leaflet.Coordinates-0.1.5.min.js' %}"></script>
    <script src="{% static 'georef/javascript/turf.min.js' %}"></script>
    <script src="{% static 'georef/javascript/djangoref_map.js' %}"></script>
    <script src="{% static 'georef/javascript/cookies.js'%}"></script>
    <script src="{% static 'georef/javascript/csrf_utils.js'%}"></script>
    <script src="{% static 'ajaxuploader/js/fileuploader.js' %}"></script>
    <script src="{% static 'georef/javascript/wicket.min.js' %}"></script>
    <script src="{% static 'georef/javascript/utils.js' %}"></script>
    <script src="{% static 'georef/javascript/toponim_update.js' %}"></script>
    <script>
        {% if saved_success %}
            toastr.success('Desat amb èxit!');
        {% endif %}
    </script>
{% endblock %}